.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;

    .CancBox {
        background: rgba(217, 217, 217, 0.43);
        border-radius: 20px;
        width: 25%;
        padding: 0px 35px;
    }

    .imageContainer {
        display: flex;

        img {
            border: 3px solid black;
            border-radius: 20px;
            height: 100px;
            align-self: center;
        }

        .tituloDescrip {
            padding: 16px;

            h1 {
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                text-align: start;
            }

            p {
                text-align: justify;
                font-family: 'Poppins', sans-serif;
            }

            button {
                font-family: 'Poppins', sans-serif;
                margin-left: 40px;
                margin-right: 40px;
                border: 3px solid black;
                border-radius: 20px;
                height: 2rem;
                width: 6rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(217, 217, 217, 0.43);
                }
            }
        }
    }
}